
.app-logo {
    box-shadow: rgba(48, 64, 94, 0.55) 0px 1px 4px -1px;
    border-radius: 5px;
    width: 2.125rem;
    height: 2.125rem;
    box-sizing: border-box;
}

.main-layout-page {
    padding: 1.4rem
}

.main-layout-view-toolbar {
    margin-bottom: 1.5rem;

    h1 {
        font-size: 1.3rem;
    }

    vaadin-drawer-toggle {
        display: none;

    }
}

@media (max-width: 800px), (max-height: 600px) {
    .main-layout-page {
        padding: 0.7rem
    }

    .main-layout-view-toolbar {
        vaadin-drawer-toggle {
            display: flex;
        }
    }
}